body {
    background-image: url(books_texture3018.jpg);
}

p {
    width: 50%;
    padding-left: 100px;
    padding-top: 30px;
    font-family: 'Merriweather', serif;
    font-size: larger;
    vertical-align: middle;
}

h1 {
    text-align: center;
    margin-left: -30%;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    text-align: center;
    margin-left: -30%;
    margin-top: -1%;
    font-family: 'Roboto Condensed', sans-serif;
}

.hContainer {
    height: 150px;
}

.wrapperTest {
    height: 100%;
    display: table;
}

.pNext {
    margin-top: 100px;
}